<div class="container" style="margin-top: 10%;">

	<div class="omb_login">
		<h3 class="omb_authTitle">Zajoguj się albo <a href="register">zarejestruj</a></h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
			<div class="col-xs-4 col-sm-3">
				<a href="#" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
			</div>
			<div class="col-xs-4 col-sm-3">
				<a href="#" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">lub</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
				<form class="omb_loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<div class="input-group" [ngClass]="{'has-danger': !loginForm.controls['login'].valid && loginForm.controls['login'].touched }" >
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" id="login" formControlName="login" placeholder="nazwa użytkownika">
					</div>
					<span class="help-block"></span>

					<div class="input-group" [ngClass]="{'has-danger': !loginForm.controls['password'].valid && loginForm.controls['password'].touched }" >
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input type="password" class="form-control" id="password" formControlName="password" placeholder="hasło">
					</div>
					<span class="help-block" style="display: none;">Bląd logowania</span>

					<button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px;" type="submit">Zaloguj</button>
				</form>
			</div>
		</div>
	</div>

</div>
