<div id="wrapper" class="toggled">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<!-- <li class="sidebar-brand"></li> -->
			<div style="margin-bottom: 10px;"></div>
			<li *ngFor="let user of users">
				<a href="messages">{{user.firstName + " " + user.lastName}}</a>
			</li>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- <footer class="footer">
	<div class="container">
		<span class="text-muted">&copy; Łukasz Patro, 2017</span>
	</div>
</footer> -->
