<div class="container margin-top">

	<div class="omb_login">
		<h3 class="omb_authTitle">Rejestracja nowego użytkownika</h3>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">

				<form class="omb_loginForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

					<div class="input-group" [ngClass]="{'has-danger': !registerForm.controls['firstName'].valid && registerForm.controls['firstName'].touched }" >
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" id="first-name" formControlName="firstName" placeholder="imię">
					</div>

					<div class="input-group" [ngClass]="{'has-danger': !registerForm.controls['lastName'].valid && registerForm.controls['lastName'].touched }" >
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" id="last-name" formControlName="lastName" placeholder="nazwisko">
					</div>

					<div class="input-group" [ngClass]="{'has-danger': !registerForm.controls['login'].valid && registerForm.controls['login'].touched }" >
						<span class="input-group-addon"><i class="fa fa-vcard"></i></span>
						<input type="text" class="form-control" id="login" formControlName="login" placeholder="nazwa użytkownika">
					</div>

					<div class="input-group" [ngClass]="{'has-danger': !registerForm.controls['email'].valid && registerForm.controls['email'].touched }" >
						<span class="input-group-addon"><i class="fa fa-envelope-open"></i></span>
						<input type="text" class="form-control" id="email" formControlName="email" placeholder="email">
					</div>

					<div class="input-group" [ngClass]="{'has-danger': !registerForm.controls['dateOfBirth'].valid && registerForm.controls['dateOfBirth'].touched }" >
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text" class="form-control" id="date-of-birth" formControlName="dateOfBirth" placeholder="data urodzenia (dd-mm-rrrr)">
					</div>

					<div class="input-group" [ngClass]="{'has-danger': !registerForm.controls['password1'].valid && registerForm.controls['password1'].touched }" >
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input type="password" class="form-control" id="password1" formControlName="password1" placeholder="hasło">
					</div>

					<div class="input-group" [ngClass]="{'has-danger': (!registerForm.controls['password2'].valid || registerForm.controls['password2'].value !== registerForm.controls['password1'].value ) && registerForm.controls['password2'].touched }" >
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input type="password" class="form-control" id="password2" formControlName="password2" placeholder="powtórz hasło">
					</div>

					<span class="help-block" style="display: none;">Bląd rejestracji</span>

					<button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px;" type="submit">Zarejestruj</button>
				</form>

				<p class="back-to-login">
					<a href="login">Powrót do strony logowania.</a>
				</p>

			</div>
		</div>
	</div>

</div>
